@{
    ViewBag.Title = "About Open Avalanche Project";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Open Avalanche Project is a community supported project to prevent improve forecast to prevent avalanche related deaths and impacts.  We are approaching this by bringing a platform for machine learning and data science to teh field of snow science.</p>
