@{
    ViewBag.Title = "About Open Avalanche Project";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Open Avalanche Project is a community supported project to prevent avalanche related deaths and impacts by improving avalanche forecasting.  We are approaching this by bringing a platform for machine learning and data science to teh field of snow science.</p>
<div class="row">
    <div class="col-md-6">
        <p>
            I created my first app focused on snow data in 2010.  I called is Powder Alarm.  It pulled snotel data and allowed you to wake up earlier than your normal time on powder days.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/powderalarm.jpg" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <p>
            Through building Powder Alarm I met a partner, Bob, on Teton Gravity Forums and we worked together to start <a href="http://ullrlabs.com">Ullr Labs</a>. We have built and maintained M.A.S.T from 2011 today.  Its the only full featured snow and avalanche notebook available on both Android and iPhone.
        </p>
    </div>

    <div class="col-md-6">
        <img src="~/Content/Images/mast.png" />
    </div>
</div>
